[
    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                formatter =>
                    {logger_formatter, #{
                        template =>
                            %% The following does NOT work as intended:
                            [
                                {message_only,
                                    ["*", msg, "\n"],
                                    [time, " [", level, "] ", file, ":", line, " ", pid, " ", msg, "\n"]
                                }
                            ]
                            %% while the following does work:
                            %[
                            %   {message_only,
                            %       ["*"],
                            %       [time, " [", level, "] ", file, ":", line, " ", pid, " "]
                            %   },
                            %   msg, "\n"
                            %]
                    }}
            }}
        ]}
    ]}
].
